<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heang.springmybatistest.auth.mapper.OtpMapper">

    <resultMap id="AppUserMap" type="com.heang.springmybatistest.auth.model.AppUser">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="roleId" column="role_id"/>
        <result property="isVerified" column="is_verified"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

    <resultMap id="OtpMap" type="com.heang.springmybatistest.auth.model.Otp">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="otpCode" column="otp_code"/>
        <result property="email" column="email"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="checkIfActivatedByPartnerEmail" parameterType="string" resultMap="AppUserMap">
        SELECT tp.id,
               tp.email,
               tp.password,
               tr.name AS role,
               tp.role_id,
               tp.is_verified,
               tp.is_active
        FROM tb_partner_account tp
        JOIN tb_role tr ON tp.role_id = tr.id
        WHERE tp.email = #{email} AND tp.is_verified = TRUE
        LIMIT 1
    </select>

    <select id="checkIfActivatedByMerchantEmail" parameterType="string" resultMap="AppUserMap">
        SELECT tm.id,
               tm.email,
               tm.password,
               tr.name AS role,
               tm.role_id,
               tm.is_verified,
               tm.is_active
        FROM tb_merchant_account tm
        JOIN tb_role tr ON tm.role_id = tr.id
        WHERE tm.email = #{email} AND tm.is_verified = TRUE
        LIMIT 1
    </select>

    <insert id="generatePartnerOtp" parameterType="map">
        INSERT INTO tb_partner_otp (partner_account_id, otp_code, partner_email, created_date)
        VALUES (#{currentUserId}, #{otpNumber}, #{email}, #{time})
        RETURNING id,
                  partner_account_id AS account_id,
                  otp_code,
                  partner_email AS email,
                  created_date
    </insert>

    <insert id="generateMerchantOtp" parameterType="map">
        INSERT INTO tb_merchant_otp (merchant_account_id, otp_code, merchant_email, created_date)
        VALUES (#{currentUserId}, #{otpNumber}, #{email}, #{time})
        RETURNING id,
                  merchant_account_id AS account_id,
                  otp_code,
                  merchant_email AS email,
                  created_date
    </insert>

    <select id="getUserPartnerByEmail" parameterType="string" resultMap="AppUserMap">
        SELECT tp.id,
               tp.email,
               tp.password,
               tr.name AS role,
               tp.role_id,
               tp.is_verified,
               tp.is_active
        FROM tb_partner_account tp
        JOIN tb_role tr ON tp.role_id = tr.id
        WHERE tp.email = #{email}
        LIMIT 1
    </select>

    <select id="getUserMerchantByEmail" parameterType="string" resultMap="AppUserMap">
        SELECT tm.id,
               tm.email,
               tm.password,
               tr.name AS role,
               tm.role_id,
               tm.is_verified,
               tm.is_active
        FROM tb_merchant_account tm
        JOIN tb_role tr ON tm.role_id = tr.id
        WHERE tm.email = #{email}
        LIMIT 1
    </select>

    <select id="getPartnerOtpByEmail" parameterType="string" resultMap="OtpMap">
        SELECT id,
               partner_account_id AS account_id,
               otp_code,
               partner_email AS email,
               created_date
        FROM tb_partner_otp
        WHERE partner_email = #{email}
        ORDER BY created_date DESC
        LIMIT 1
    </select>

    <select id="getMerchantOtpByEmail" parameterType="string" resultMap="OtpMap">
        SELECT id,
               merchant_account_id AS account_id,
               otp_code,
               merchant_email AS email,
               created_date
        FROM tb_merchant_otp
        WHERE merchant_email = #{email}
        ORDER BY created_date DESC
        LIMIT 1
    </select>

    <update id="verifyPartner" parameterType="string">
        UPDATE tb_partner_account
        SET is_verified = TRUE
        WHERE email = #{email}
        RETURNING '1'
    </update>

    <update id="verifyMerchant" parameterType="string">
        UPDATE tb_merchant_account
        SET is_verified = TRUE
        WHERE email = #{email}
        RETURNING '1'
    </update>

</mapper>
